@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    color:black

}

html {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}
    

nav {
    width:80%;
    height:90px;
    background-color: white;
    color:black;
    border-radius:1rem;
    display:flex;
    position:fixed;
    margin-left:10%;
    margin-top:2%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    opacity:0.7;
    justify-content:center;
    align-items: center;
}


ul {
    


}
ul li {
    list-style: none;
    display: flex;
    float : left;
    line-height: 65px;
    flex:1;
}
ul li a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 0 20px;
    font-weight:600;
}

ul li a:hover{
    color:#f5e3e6;
}

.MainTitle{
    font-size:32px;
    font-weight:600;
    font-family: 'Abril Fatface', cursive;
    color:black;
    flex:7;
    padding-left: 18%;
}
.BigBox{
    width: 185%;
    height:100px;
    border-radius: 2rem;
    margin-top:10px;
    margin-left:-43%;
    border:none;
    opacity:0.8;
    outline:none;
}
.Form {
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}
.numBox {
    margin-top:20px;
    margin-left:350px;
    height:75px;
    border-radius:2rem;
    width:12%;
    border:none;
    outline:none;
}



::-webkit-input-placeholder {
    font-size: 32px;
    color:rgb(139, 138, 138);
    padding-left:5px;
}
input[type="text"]
{
    font-size:32px;
    color:rgb(117,117,117)
}
input[type="number"]
{
    color:rgb(117,117,117);
    font-size:32px;
}
.recP {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    opacity:0.8;
    font-weight:500;
    font-size:32px;
    margin-bottom:-10px;
    margin-top:8%;

}

.recForm {
    
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:5%
}

.subBox {
    z-index:0;
    margin-top:20px;
    margin-left:-280px;
    width:68px;
    height:45px;
    font-size:18px;
    background-color: white;
    border-radius: 1rem;
    cursor:pointer;
    border:none;
    opacity:0.8;
    outline:none;
}
.subBox:active{
    background-color:rgb(189, 179, 179);
    outline:none;
}

.howManyTxt{
    margin-top:15px;
    text-align: center;
    font-size:32px;
    margin-bottom:-15px;
    font-family: 'Poppins', sans-serif;
    opacity:0.8;
    font-weight:500;
}




.resultPage{
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation:loadIn 1.5s;
}

.recPage {
    animation:loadIn 0.75s;
}


@keyframes loadIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0deg)
    }
}
main {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:loadIn 0.75s;
}
.glass {
    
    background: white;
    min-height:70vh;
    width:60%;
    border-radius:2rem;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    display:flex;
}

.dahsboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius:2rem;
    flex:1;
}

.otherSide{
    display:flex;
    flex:4;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:100px;
}


.info {
    display:flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items:center;
}
.info h3 {
    padding: 0rem 2rem;
    opacity:0.8;
    font-family: 'Poppins', sans-serif;
}
.glassTitles h2{
    font-weight:700;
    text-decoration: underline;
    opacity:0.8;
    font-size:22px;
    justify-content:space-evenly;
}

.linksOtherSide {
    text-decoration:none;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    padding-right:3%;
    padding-top:3%;
    align-items: center;
}
.logoText {
    display:flex;
}
.logoLink1:hover {
    color:red;
}
.logoLink2:hover {
    color:blue;
}
.logoLink3:hover {
    color:orange;
}
]
